---
title: Very cool website
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }} - Owen Jones</title>
    <meta name="description" content="{{ description }}">
    <link rel="stylesheet" href="https://indestructibletype.com/fonts/Jost.css" type="text/css" charset="utf-8" />
    <link rel="stylesheet" href="/index.css">
  </head>
  <body>
    <header>
      <div class="width-container">
        <a href="/" class="logo" {{- 'aria-current=true' if page.url == '/' }}>Owen Jones</a>
        <nav>
          <ul>
            {%- for item in collections.nav -%}
            <li><a href="{{ item.url }}" {{- 'aria-current=true' if page.url == item.url }}>{{ item.data.title }}</a></li>
            {%- endfor -%}
          </ul>
        </nav>
      </div>
    </header>
    <main>
      <div class="width-container">
        <div class="width-container__content">
          <h1>{{ title }}</h1>
          {{ content }}
        </div>
      </div>
    </main>
    <div class="width-container">
      <footer>
        <ul>
          {%- for item in collections.footer -%}
          <li><a href="{{ item.url }}" {{- 'aria-current=true' if page.url == item.url }}>{{ item.data.title }}</a></li>
          {%- endfor -%}
        </ul>
      </footer>
    </div>
  </body>
</html>
